
  /* Navbar container */
  .navbar {
    overflow: hidden;
    height: 50px;
    width: 292px;
    background-color: rgb(48, 48, 48);
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: middle;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 30px 35px;
    text-decoration: none;
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(145, 145, 145);
  }
  